@import './base.css';

html,
body {
  margin: 0px;
  font-family: 'Roboto';
  width: 100%;
  min-height: 100vh;
  overflow-x: clip;
}

html {
  overflow-x: hidden;
}

html::-webkit-scrollbar-track {
  background-color: rgba(var(--off-white), 0.1);
}

html::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: rgba(var(--off-white), 0.1);
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(var(--van-dyke), 1);
  border-radius: 15px;
  border: 2px solid rgba(var(--off-white), 1);
}

body {
  background-color: rgba(var(--off-white), 1);
}

.Conteudo {
  margin: 0 auto;
  padding: 10px;
  max-width: 980px;
  width: 100%;
}

.Campo {
  flex: 1 1 calc(50% - 10px);
  display: flex;
  flex-direction: column;
  position: relative;
}

.Campo label {
  margin: 0;
  padding: 0 2px;
  z-index: 2;
  position: absolute;
  top: -10px;
  left: 9px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(var(--van-dyke), 1);
  background-color: rgba(var(--off-white), 1);
}

.Campo input {
  width: 100%;
  height: 50px;
  padding-top: 4px;
  padding-left: 9px;
  border: none;
  outline: none;
  background-color: rgba(var(--off-white), 1);
  border-radius: 4px;
  border: solid 1px rgba(var(--van-dyke), 1);
  color: rgba(var(--van-dyke), 1);
}

.Campo span {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: rgba(var(--wku-red), 1);
}

.Frete.FreteSucesso {
  --cor-status: var(--forest-green);
}

.Frete.FreteErro {
  --cor-status: var(--wku-red);
}

@media (max-width: 980px) {
  .Campo {
    flex: 1 1 calc(100% - 10px);
  }
}
